$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$ls-icon-arrow-pointing-to-right: "\e900";
$ls-icon-arrow-point-to-right: "\e901";
$ls-icon-call: "\e902";
$ls-icon-diamond: "\e903";
$ls-icon-earth: "\e904";
$ls-icon-envelope-shape: "\e905";
$ls-icon-maps-and-flags: "\e906";
$ls-icon-pills: "\e907";
$ls-icon-placeholder: "\e908";
$ls-icon-portfolio: "\e909";
$ls-icon-user: "\e90a";

